In [ ]:
"""1. In the below elements which of them are values or an expression? eg:- values can be integer or string
and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6 """

In [ ]:
(* , - , / , +) are operators
('hello' , -87.8 , 6) are values

In [5]:
type('hello')

str

In [7]:
type(-87.8)

float

In [8]:
type(6)

int

In [10]:
2 + 3

5

In [11]:
3-1

2

In [12]:
2/2

1.0

In [13]:
8*2

16

In [ ]:
"""2. What is the difference between string and variable?"""

In [ ]:
x = 2
y ="Hello World"
# x is the Variable which stores the information i.e 2 is the value stored in variable x.
# where as in y varibale we can see the string "Hello World", we are saving the type of information in variable.
#It could be anything int,str,values.

In [ ]:
"""3. Describe three different data types.
Answer: 
There are  different datatypes in Python such as :
Integer, String, Complex numbers,Float,Boolean."""

In [15]:
x = 15
y = "Hello Bhushan"
v = 25+5j
g = 32.09
qw = True
print(type(x))
print(type(y))
print(type(v))
print(type(g))
print(type(qw))

<class 'int'>
<class 'str'>
<class 'complex'>
<class 'float'>
<class 'bool'>

In [ ]:
"""4. What is an expression made up of? What do all expressions do?
Answer: Expression can be a combination of numbers,values,operators and also complex numbers.
Expressions perform mathematical, logical relational operations"""

In [ ]:
"""5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Answer : An expression evaluates to a value. A statement does something. Statements represent an action or command 
e.g print statements, assignment statements. Expression is a combination of variables, operations and values that 
yields a result value."""

In [3]:
print(10)
print(10)
print(10)
print(10)
print(10)
print(10)
print(10)
print(10)
print(10)
print(10)   
#statements.

10
10
10
10
10
10
10
10
10
10

In [7]:
print("10\n"*10)
#Expressions

10
10
10
10
10
10
10
10
10
10

In [ ]:
"""6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
"""

In [9]:
bacon = 22
print(bacon)
print(type(bacon))

22
<class 'int'>

In [14]:
bacon + 1

23

In [ ]:
"""7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
"""

In [10]:
'spam' + 'spamspam'

'spamspamspam'

In [15]:
'spam' * 3

'spamspamspam'

In [ ]:
"""8. Why is eggs a valid variable name while 100 is invalid?"""

In [16]:
eggs = 1
print(eggs)

1

In [17]:
100 = 2
print(100)
"""We cannot define it like this because : The first character of the variable can be an alphabet or (_) underscore.
Special characters (@, #, %, ^, &, *) should not be used in variable name. Variable names are case sensitive.
For example - page and PAGE are two different variables. Reserve words cannot be declared as variables."""

SyntaxError: cannot assign to literal (<ipython-input-17-f2545d4e3467>, line 1)

In [ ]:
"""What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer: int() , float() , str() """

In [21]:
a = 10
print(int(a))
print(type(a))

b = 20.34
print(float(b))
print(type(b))

c = "Hello"
print(str(c))
print(type(c))

10
<class 'int'>
20.34
<class 'float'>
Hello
<class 'str'>

In [ ]:
"""10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
"""

In [22]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [23]:
'I have eaten ' + ' 99 ' + ' burritos.'
# we can only concatenate String to String

'I have eaten  99  burritos.'