# 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [ ]:
# Ans : Done

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [ ]:
# Ans : 
test2 = open('test.txt', 'r')
test2.read()

In [ ]:
test1.read()

# 3. Create a CSV file called books.csv by using these lines:
# title,author,year
# The Weirdstone of Brisingamen,Alan Garner,1960
# Perdido Street Station,China Miéville,2000
# Thud!,Terry Pratchett,2005
# The Spellman Files,Lisa Lutz,2007
# Small Gods,Terry Pratchett,1992

In [25]:
# Ans : Done
import csv

f = open('books.csv','r')
f.readlines()

['title,author,year\n',
 'The Weirdstone of Brisingamen,Alan Garner,1960\n',
 'Perdido Street Station,China MiÃ©ville,2000\n',
 'Thud!,Terry Pratchett,2005\n',
 'The Spellman Files,Lisa Lutz,2007\n',
 'Small Gods,Terry Pratchett,1992']

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [2]:
# Ans : 
import mysql.connector as connection
try:
    mydb = connection.connect(host="localhost",user="root",passwd="Bhushan@22.",use_pure=True)
    print("Database Created")
    query = "CREATE TABLE student.books(title text(70),author text(70),year INT(5));"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table Created")

    
except Exception as e:
    mydb.close()
    print(str(e))

Database Created
Table Created

# 5. Read books.csv and insert its data into the book table.

In [32]:
# Ans : 
import csv
import mysql.connector as connection
try:
    mydb = connection.connect(host="localhost",user="root",passwd="Bhushan@22.",use_pure=True)
    cur = mydb.cursor()
    with open('books.csv', 'r') as f:
        reader = csv.reader(f)
        next(reader) 
        for row in reader:
            cur.execute(
            "INSERT INTO student.books VALUES (%s, %s, %s)",
            row
        )
    mydb.commit()
except Exception as e:
    print(e)

'MySQLCursor' object has no attribute 'commit'

# 6. Select and print the title column from the book table in alphabetical order.

In [29]:
# Ans : 
import mysql.connector as connection
try:
    mydb = connection.connect(host="localhost",user="root",passwd="Bhushan@22.",use_pure=True)
    query = "SELECT * FROM student.books ORDER BY title ASC;"
    cursor = mydb.cursor()
    cursor.execute(query)
    print()
except Exception as e:
    mydb.close()
    print(str(e))

# 7. From the book table, select and print all columns in the order of publication.

In [33]:
# Ans : 
import mysql.connector as connection
try:
    mydb = connection.connect(host="localhost",user="root",passwd="Bhushan@22.",use_pure=True)
    query = "SELECT * FROM student.books ORDER BY year ASC;"
    cursor = mydb.cursor()
    cursor.execute(query)
    print()
except Exception as e:
    mydb.close()
    print(str(e))

In [35]:
pwd()

'C:\\Users\\bhush\\iNeuron\\Assignments\\Basic Pyhton'

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [36]:
# Ans : 
import sqlite3
import pandas as pd

In [39]:
cnx = sqlite3.connect('C://Users//bhush//iNeuron//Assignments//Basic Pyhton//books.db')
cursor = cnx.cursor()

In [41]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('books',)]

In [43]:
dfN_check = pd.read_sql_query("SELECT * FROM books", cnx)

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [19]:
!pip install redis

Requirement already satisfied: redis in c:\users\bhush\anaconda3\lib\site-packages (3.5.3)

In [21]:
import redis
conn = redis.Redis()
try:
    conn.delete('test')
except Exception as e:
    print()

In [29]:
# Hmset is deprecated
conn.hmset
('test'
, {'count'
: 1, 'name'
: 'Fester Bestertester'
})

('test', {'count': 1, 'name': 'Fester Bestertester'})

In [30]:
 conn.hgetall
('test'
)

'test'

# 10. Increment the count field of test and print it.

In [31]:
conn.hincrby
('test'
, 'count'
, 3)

('test', 'count', 3)

In [33]:
try :
    conn.hget('test', 'count')
except Exception as e:
    print(e)

Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.